header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header.logo{
    background-image: url("/home/crystal/AirBnB_clone/web_static/images/hbtn_0d_tvshows.sql");
    padding-left: 20px;
}
